---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.svelte";
---

<Layout title="Crew">
	<div class="h-screen bg-darkBlue">
		<Nav path="crew" client:load />
		<h1 class="text-center text-2xl text-white">Crew Page</h1>
	</div>
</Layout>
