---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.svelte";
---

<Layout title="Crew">
	<Nav path="crew" client:load />
	<h1 class="text-center text-2xl">Crew Page</h1>
</Layout>
