---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.svelte";
import DestinationImage from "../components/DestinationImage.svelte";
import DestinationSelect from "../components/DestinationSelect.svelte";
import DestinationDesc from "../components/DestinationDesc.svelte";
---

<Layout title="Destination">
	<main
		class="flex h-screen w-screen flex-col overflow-hidden bg-darkBlue bg-destinationBgMobile bg-cover bg-no-repeat text-white md:bg-destinationBgTablet lg:bg-destinationBgDesktop"
	>
		<div>
			<Nav client:load path="destination" />
		</div>
		<section class="flex flex-col px-12">
			<div class="my-4 w-full text-center">
				<h4
					class="space-x-2 font-barlow md:text-left md:text-xl lg:text-2xl"
				>
					<span class="tracking-widest opacity-25">01</span>
					<span class="tracking-widest">PICK YOUR DESTINATION</span>
				</h4>
			</div>

			<div class="flex flex-col justify-around lg:flex-row">
				<div class="my-8 flex w-1/2 justify-center">
					<DestinationImage client:load />
				</div>
				<div class="h-full scale-[.8] lg:w-1/2">
					<div>
						<DestinationSelect client:load />
					</div>
					<div class="flex justify-center">
						<DestinationDesc client:load />
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
