---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.svelte";
---

<Layout title="Explore">
	<main
		class="flex h-screen w-screen flex-col bg-darkBlue bg-homeBgMobile bg-cover bg-no-repeat text-white md:bg-homeBgTablet"
	>
		<div>
			<Nav client:load path="home" />
		</div>
		<section
			class="flex h-full flex-col justify-between py-12 px-6 md:justify-around"
		>
			<div class="my-4 flex flex-col items-center space-y-4 text-center">
				<h5
					class="font-barlow text-xl tracking-widest text-voilet md:text-2xl"
				>
					SO, YOU WANT TO TRAVEL TO
				</h5>
				<h1 class="font-bellefair text-8xl tracking-wider md:text-9xl">
					SPACE
				</h1>
				<p
					class="text-center font-barlow leading-8 tracking-wider text-voilet md:w-1/2 md:text-xl md:leading-9"
				>
					Let’s face it; if you want to go to space, you might as well
					genuinely go to outer space and not hover kind of on the
					edge of it. Well sit back, and relax because we’ll give you
					a truly out of this world experience!
				</p>
			</div>
			<a href="/destination" class="flex items-center justify-center">
				<button
					class="h-52 w-52 rounded-full bg-white font-bellefair text-4xl text-darkBlue md:h-72 md:w-72"
					>EXPLORE</button
				>
			</a>
		</section>
	</main>
</Layout>
