---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.svelte";
---

<Layout title="Explore">
	<main
		class="flex h-screen w-screen flex-col bg-homeBgMobile bg-cover bg-no-repeat p-6 text-white"
	>
		<div>
			<Nav client:load />
		</div>
		<section class="flex h-full flex-col justify-between py-12">
			<div class="my-4 space-y-4 text-center">
				<h5 class="font-barlow text-xl tracking-widest text-voilet">
					SO, YOU WANT TO TRAVEL TO
				</h5>
				<h1 class="font-bellefair text-8xl tracking-wider">SPACE</h1>
				<p class="font-barlow leading-8 tracking-wider text-voilet">
					Let’s face it; if you want to go to space, you might as well
					genuinely go to outer space and not hover kind of on the
					edge of it. Well sit back, and relax because we’ll give you
					a truly out of this world experience!
				</p>
			</div>
			<a href="/destination" class="flex items-center justify-center">
				<button
					class="h-52 w-52 rounded-full bg-white font-bellefair text-4xl text-darkBlue"
					>EXPLORE</button
				>
			</a>
		</section>
	</main>
</Layout>
