---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.svelte";
---

<Layout title="Technology">
	<Nav path="technology" client:load />
	<h1 class="text-center text-2xl">Technology Page</h1>
</Layout>
