---
import Logo from "../assets/shared/logo.svg";
import HamburgerMenu from "../assets/shared/icon-hamburger.svg";
---

<header class="flex items-center justify-between">
	<div>
		<img src={Logo} alt="logo" />
	</div>
	<nav>
		<img src={HamburgerMenu} alt="open menu" />
	</nav>
</header>
